/*style file created by us
00: CSS Variables
01: Layouts
02: Color
03: Font
04: Nice Decoration
*/

/*00: Variables*/
:root{
    --light-mode-sidebar-color: #d9d9d9;
    --dark-mode-sidebar-color: #919191;
    --light-mode-background: rgb(255, 255, 255);
    --dark-mode-background: #2e2e2e;
    --system-theme-1: #ff5757;
    --system-theme-2: #ff66c4;

    /*icons*/
    --salary-icon: url(/media/icons/salary.png);
    --gift-icon: url(/media/icons/gift.png);
    --groceries-icon: url(/media/icons/grocery.png);
    --investments-icon: url(/media/icons/investment.png);
    --gas-icon: url(/media/icons/gas.png);
    --savings-icon: url(/media/icons/savings.png);
    --rent-icon: url(/media/icons/rent.png);
    --entertainment-icon: url(/media/icons/entertainment.png);
    --gym-icon: url(/media/icons/gym.png);
    --coffee-icon: url(/media/icons/coffee.png);
    --restaurant-icon: url(/media/icons/restaurant.png);
    --bills-icon: url(/media/icons/bills.png);
    --vacation-icon: url(/media/icons/vacation.png);
    --pubTrans-icon: url(/media/icons/pubTrans.png);
    --travel-icon: url(/media/icons/travel.png);
    --school-icon: url(/media/icons/school.png);

}

/*01: Layouts*/
div.navbar{
    position: fixed;
    left:0%;
    top: 0%;
    padding: 0;
    width: 25%;
    height: 100%;
}

div.navbar ul {
    list-style-type: none;
    margin: 0;
    left:0%;
    padding: 10%;
    width: 80%;
    height: 100%;
}

div.navbar li{
    position: relative;
    height: 20%;
}

div.navbar button{
    position: relative;
    width:100%;
    height: 60%;
    border-radius: 10px;
}

div.topbar{
    display: inline-table;
    position: fixed;
    left:25%;
    top:0%;
    width:75%;
    height: 30%;
}

div.topbar h3{
    width: 20%;
    height: auto;
    padding: 1%;
    border-radius: 50px;
    text-align: center;
}

#balance{
    position: absolute;
    left:2%;
}
#income{
    position: absolute;
    left:40%;
    top: 0%;
}
#expense{
    position: absolute;
    top:0%;
    right:2%;
}
#total_budget_prog{
    position: absolute;
    left: 15%;
    top: 45%;
    width: 75%;
    height: 20%;
}
#bud_disp{
    position: absolute;
    text-align: center;
    left: 15%;
    top:70%;
    width: 75%;
    font-size: 1.5em;
}


hr{
    position:fixed;
    left:25%;
    width:75%;
    top:30%;
}

div.incomeExpense{
    position: absolute;
    padding:1%;
    left: 25%;
    top: 30%;
    width: 70%;
}

div.income_bar p, div.expenses_bar p{
    background-color: #919191;
    padding: 1%;
    border-style: dashed;
    border-radius: 10px;
} 

div.income_bar p:hover, div.expenses_bar p:hover{
    background-color: #c0c0c0;
}

#income_table{
    position: relative;
    width: 100%;
    text-align: left;
    font-size: .75em;
}
#expense_table{
    position: relative;
    width: 100%;
    text-align: left;
    font-size: .75em;
}

div.add_stuff{
    position:fixed;
    bottom: 5%;
    right: 3%;
    width: auto;
    height: auto;
}

div.add_stuff button{
    border-radius: 100%;
    width: 100%;
    height: 100%;
    font-size: 3em;
    text-align: center;
}

div.newTransactionView{
    position:absolute;
    left:25%;
}

/*02: Color*/
body{
    background-color: var(--light-mode-background);
}

div.navbar{
    background-color: var(--light-mode-sidebar-color);
}

div.navbar button{
    background-color: var(--system-theme-1);
    border-style: none;
}

div.navbar button:hover{
    font-size: 1.2em;
    background-color: var(--system-theme-2);
}

div.topbar{
    background-color: rgb(225, 225, 225);
}

div.topbar h3{
    background-color: var(--system-theme-1);
}

#total_budget_prog{
    accent-color: var(--system-theme-1);
}

div.add_stuff button:active{
    background-color: var(--system-theme-2);
}

/*03: Font*/
