/*style file created by us
00: CSS Variables
01: Layouts
02: Color
03: Font
04: Nice Decoration
*/

/*00: Variables*/
:root{
    --light-mode-sidebar-color: #d9d9d9;
    --dark-mode-sidebar-color: #919191;
    --light-mode-background: rgb(255, 255, 255);
    --dark-mode-background: #2e2e2e;
    --light-mode-font: black;
    --dark-mode-font: white;
    --system-theme-1: #ff5757;
    --system-theme-2: #ff66c4;
}

/*01: Layouts*/
div.navbar{
    position: fixed;
    left:0%;
    top: 0%;
    padding: 0;
    width: 25%;
    height: 100%;
    z-index: 3;
}

div.navbar ul {
    list-style-type: none;
    margin: 0;
    left:0%;
    padding: 10%;
    width: 80%;
    height: 100%;
}

div.navbar li{
    position: relative;
    height: 20%;
}

div.navbar button{
    position: relative;
    width:100%;
    height: 60%;
    border-radius: 10px;
}

div.tr_topbar{
    position: fixed;
    padding:1%;
    left:26%;
    width:70%;
    z-index: 2;
}

div.tr_topbar button, .tr_topbar input{
    position: relative;
    left: 20%;
}

div.transactionInfo{
    z-index: 1;
}

#transactionTable{
    position:absolute;
    padding:1%;
    left:26%;
    top:10%;
    width: 70%;
    text-align: left;
}

div.newTransactionView2{
    position:absolute;
    left:25%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px; /* spacing between rows */
}

#formbar h2{
    position: relative;
    left: 25%;
}

#submit_but{
    position: relative;
    left: 25%;
    width: 50%;
}

div.newTransactionView2 ul {
    list-style-type:none;
    margin: 0;
    left:0%;
    width: 90%;
    height: 100%;
}

div.newTransactionView2 label{
    position: relative;
    height: 60%;
    display: flex;
    justify-content: space-between; /* pushes text left, button right */
    align-items: center;
    margin: 0;
}
div.newTransactionView2 input{
    position: relative;
    width: 200px;
    height: 30px;
}

div.newTransactionView2 select{
    position: relative;
    width: 200px;
    height: 30px;
}

div.addmore{
    position:fixed;
    bottom: 5%;
    right: 3%;
    width: auto;
    height: auto;
}

div.addmore button{
    border-radius: 100%;
    width: 100%;
    height: 100%;
    font-size: 2em;
    text-align: center;
}

/*02: Color*/
body{
    background-color: var(--light-mode-background);
}

div.navbar{
    background-color: var(--light-mode-sidebar-color);
}

div.navbar button{
    background-color: var(--system-theme-1);
    border-style: none;
}

div.navbar button:hover{
    font-size: 2.2em;
    background-color: var(--system-theme-2);
}

div.tr_topbar{
    background-color: grey;
}

th, td{
    border-bottom: 2px solid var(--system-theme-1);
}

td{
    padding: 10px;
}

tr:hover{
    background-color: var(--system-theme-2);
}

div.newTransactionView2 label:hover{
    background-color: var(--system-theme-1);
}

/*03: Font*/
div.newTransactionView2, #transactionTable{
    color: var(--light-mode-font);
}

#transactionTable{
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    th{
        font-weight: 900;
    }
    button:hover{
        background-color: var(--system-theme-1);
    }
}

div.navbar button{
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-size: 2em;
}

h2{
    font-family: "Pacifico", sans-serif;
    font-weight: 400;
    font-size: 3em;
}

form{
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 2em;
}